# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [68]:
n="1234"
c=list(n)
c

['1', '2', '3', '4']

In [69]:
c

['1', '2', '3', '4']

In [70]:
c

['1', '2', '3', '4']


** `Question:` Remove number "3" in a list**

In [37]:
# Method 1 
x.remove("3")

In [43]:
x

['1', '2', '4']

In [46]:
# Method 2
x.pop(3)

'4'

In [47]:
x

['1', '2', '3']

In [52]:
# Method 3
del x[0]

In [53]:
x

['2', '3']

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [60]:
num= [2,3,4]

In [61]:
num.insert(0,1)

In [62]:
num

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [63]:
h=[1, 2, 3, 4]

In [64]:
h.insert(2,"two-and-half")
h

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [12]:
a="Don't panic!"
list(a)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [13]:
c=['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [16]:
c.pop(3)

' '

In [17]:
c

['D', 'o', 'n', 'p', 'a', 'n', 'i', 'c', '!']

In [18]:
c.pop()

'!'

In [19]:
c

['D', 'o', 'n', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [23]:
pharse="Don't Panic!"
a=list(pharse)
a.remove("'"),a.remove("!"),a.remove("P"),a.remove("a"),a.remove("n"),a.remove("D")
a.extend('Pand')
a

['o', 't', ' ', 'n', 'i', 'c', 'P', 'a', 'n', 'd']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [24]:
u=['p', 'a', 'n', 'D', 'a']
"".join(u)

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [ ]:
# CODE HERE

In [25]:
d=(31,24,35,85)
num=list(d)
num.remove(35)
tuple(num)

(31, 24, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [49]:
# CODE HERE

(31, 24, 85)

**Extent** tuple (85,19)

In [ ]:
# CODE HERE

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [ ]:
# CODE HERE

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [3]:
# CODE HERE

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [6]:
# CODE HERE
tpl = ("Innomatics")

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [9]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [2]:
# CODE HERE

5 2 4 6 2 2
second higest is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [11]:
x=[12,24,35,70,88,120,155]
x.remove(12),x.remove(88),x.remove(120)
x

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [8]:
a=(1,2,3,4,5,6,7,8,9,10)
b=a[0:5]
c=a[5:]
print(b,c)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [1]:
x=(1,2,3,4,5,6,7,8,9,10)
t=list(x)

In [2]:
x[1:10:2]

(2, 4, 6, 8, 10)

In [84]:
x=[1,2,3,4,5,6,7,8,9,10]
tuple(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [97]:
i=0
k=[]
for i in x:
    if i%2==0:
       k.append(i)
tuple(k)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution:
#LIST:
#1.List is a collection of datatypes.
#2.it can access different types of data and same type of data.
#3.list is mutable.
#4.we can access each element by index values.
#5.list is ordered.
#6.we can easily delete data ,remove data and add data bcz it is mutable.
#list can be created by 2 ways those are 1. created by [](square bracket),2.by list(()) (list method).
#example:list values =[1,2,3,4,5]
##2.TUPLE:
# 1.tuple is a collection of datatypes.
#2.it can access different types of data and same type of data.
#3.tuple is immutable.
#4.we can access each element by index values.
#5.we can not change ,delete, remove data once after created:
# tuple is a ordered 
#we can create tuple by paranthesis(,) and tuple(()) method

### 2. Explain the difference between append() and extend() with examples

In [5]:
# Solution
#1.append(): this is a method to add elements in a list.
#example:
z=[1,2,3,4,5,6]
z.append(7)

In [6]:
z

[1, 2, 3, 4, 5, 6, 7]

In [7]:
# 2.extend():this is a method adds the specified list elements(or any iterable) to the end of the current list.
#parameter values: Any iterable(list,tuple,set etc..)
fruits = ["banana","apple","kiwi","guva"]
trees = ["bamboo","neem","wild plant","lemon tree"]
trees.extend(fruits)

In [9]:
trees

['bamboo',
 'neem',
 'wild plant',
 'lemon tree',
 'banana',
 'apple',
 'kiwi',
 'guva']

### 3. Explain the difference between pop() and remove() with examples

In [1]:
# Solution
#1.pop() method: it removes and returns the last element of the list or the given index value.
#example: 
y=["hello","hi","bye"]
y.pop(1)

'hi'

In [3]:
#remove():this is removes the first occurance of the element with the specified value:
#parameter values: Any type(stirng,list,number etc)
#example:
x=["dog","cat","parrot"]
x.remove("parrot")

In [4]:
x

['dog', 'cat']

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)