# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [15]:
# CODE HERE
person1={'Gender':'Male','Location':'Nizampet,Hyderabad','Name':'John','Occupation':'Data Scientist'}
person1

{'Gender': 'Male',
 'Location': 'Nizampet,Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [17]:
person1={'Name':'John', 'Gender':'Male', 'Occupation':'Data Scientist', 'Location':'Nizampet,Hyderabad'}
list((person1))

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [24]:
# CODE HERE
person1={'Gender':'Male','Location':'Nizampet,Hyderabad','Name':'John','Occupation':'Data Scientist'}
person1

{'Gender': 'Male',
 'Location': 'Nizampet,Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [30]:
person1.popitem()

('Occupation', 'Data Scientist')

In [8]:
person1={'Gender':'Male','Location':'Nizampet,Hyderabad','Name':'John','Occupation':'Data Scientist'}
del person1['Location']
person1

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [9]:
# CODE HERE
person2={"Age":25,"Gender":"Male","Name":"Raghu Ram","occupation":"Data Scientist"}

In [10]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [17]:
print("==================== person1 ====================")
print(person1)
print("==================== person2 ====================")
print(person2)

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet,Hyderabad', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist', 'Age': 25, 'occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [18]:
# CODE HERE
# using clear method:
h={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
h.clear()

In [19]:
h

{}

In [23]:
#using delete method:
h={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
h.pop(5)
h

{1: 1, 2: 4, 3: 9, 4: 16, 6: 36, 7: 49}

In [24]:
#using delete method:
h={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
del h[2]
h

{1: 1, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [25]:
# CODE HERE
x={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
y=list(x.keys())
y.sort(reverse=True)
z={}
i=0
while i<len(y):
    z.update({y[i]:x[y[i]]})
    i=i+1
z

{9: 81, 7: 49, 5: 25, 3: 9, 1: 1, 0: 0}

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [ ]:
# CODE HERE

In [28]:
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
dict1.update(dict2)
dict1.update(dict3)
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [31]:
# CODE HERE
x= {'emp1': {'name': 'Jhony', 'salary': 7500},'emp2': {'name': 'Ravi', 'salary': 8000},
               'emp3': {'name': 'Charan', 'salary': 6500}}
x.update({'emp3':{'name':'charan','salary':8500}})
x

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [5]:
# CODE HERE
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
sampleDict.keys()

dict_keys(['class'])

In [32]:
x= { "class": { "student": { "name": "Mike","marks": { "physics": 70,"history": 80}}}}
x['class']['student']['marks']['history']

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [37]:
# CODE HERE
x={'Gender': 'Male', 
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}
x['Area']=x['Location']
del x['Location']
x

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [1]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
username=input("plaese enter the name : ")
password=int(input("Enter the password : "))
for i in database:
    if username==i:
        if password==database[i] or database==password[i]:
            print("hello",username)
        else:
            x=input("yes or no : ")
            if x=='yes':
                
                database[username]=password
                print("Thank you")

plaese enter the name : siri
Enter the password : 1234

In [38]:
#if the username and password doesnot match, ask, you want me to add into the database
database = {'ram':1234,'raghu':5678,'kanav':1357}
username=input('Please enter the username : ')
password=int(input('Please enter the password : '))
for i in database:
    if username==i:
        if password==database[i] or password==database[i] or password==database[i]:
            print('hello ',username)
    else:
        x=input('yes or no : ' )
        if x=='yes':
            database[username]=password
            print('Thank you')

Please enter the username : siri hello
Please enter the password : 3456
yes or no : yea
yes or no : ok
yes or no : k

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)