# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [1]:
def vol(x):
# code here
    print((4/3)*3.14*(x**3))

In [2]:
vol(2)

33.49333333333333

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [3]:
i=0
def hi(a,b,n):
    if n>a and n<b:
        print("True")

In [4]:
hi(0,10,3)

True

In [12]:
#code here:
def ran_check(num,low,high):
    for i in range(low,high):
        if num>low and num<high:
            return True
        else:
            return False

In [13]:
ran_check(3,1,10)

True

If you only wanted to return a boolean:

In [17]:
# code here
def ran_bool(num,low,high):
    if num>low and num<high:
        print("True")

In [18]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [1]:
string='Hello Mr. Rogers, how are you this fine Tuesday?'
def up_low(s):
    k=0
    j=0
    for y in s:
        if y.isupper():
            k=k+1
        elif y.islower():
            j=j+1 
    return (k,j)

In [2]:
y=up_low(string)

In [3]:
print("no of upper case character is {}\nno of lower case character is {}".format(y[0],y[1]))

no of upper case character is 4
no of lower case character is 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [34]:
sample_List= [1,1,1,1,2,2,3,3,3,4,5]
def unique_list(l):
    return list(set(l))

In [35]:
unique_list(sample_List)

[1, 2, 3, 4, 5]

In [36]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [ ]:
def multiply(numbers):  
    # code here

In [47]:
sample_List=[1, 2, 3, -4]
def multiply(n):
    j=1
    for i in n:
        j=j*i
    print(j)

In [48]:
multiply(sample_List)

-24

In [49]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [58]:
def palindrome(s):
    if s==s[::-1]:
         print("True")
    else:
        print("False")

In [59]:
palindrome("dad")

True

In [56]:
def palindrome(s):
    i=""
    for i in s:
        print(i)

In [57]:
palindrome("dad")

d
a
d

In [ ]:
palindrome('helleh')

## Given a number N.Find Sum of 1 to N Using Recursion

In [ ]:
# CODE HERE
def summation(n):
 #Code here


n = int(input())
sum = summation(n)
print(sum)

In [60]:
#example:
def summation(n):
    if n<=1:
        return n
    else:
        return (summation(n-1)+summation(n-2))

In [61]:
for y in range(0,10):
    print(summation(y))

0
1
1
2
3
5
8
13
21
34

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [ ]:
def printList():
#Code here

printList()

In [66]:
def multiplication(n):
    if n<=1:
        return n
    else:
        return (n**2)

In [68]:
for c in range(0,5):
    print(multiplication(c))

0
1
4
9
16

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [ ]:
def print_Dict():
    #Code Here


printDict()

In [105]:
for i in range(20):
    x.update({i:i**2})
print(x)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}

In [2]:
def dk(x):
    d={}
    for i in x:
        d.update({i:i**2})
    return d.keys()
dk(range(1,21))

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [74]:
def print_Dict():
    if n<=1:
        return n
    else:
        return(n(n**2))

In [112]:
for k in range(1,21):
    print({k:k**2})

{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}
{9: 81}
{10: 100}
{11: 121}
{12: 144}
{13: 169}
{14: 196}
{15: 225}
{16: 256}
{17: 289}
{18: 324}
{19: 361}
{20: 400}

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [10]:
x="innomatics research labs"
i=0

In [11]:
for i in x.split():
    print("{}:{}".format(i,len(i)))

innomatics:10
research:8
labs:4

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [ ]:
# CODE HERE
# No different way of code is written as the requirment is specificly mentioned in problem description

li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Code here

print(list(squaredNumbers))  # converting the object into list

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [ ]:
list(map(lambda))

In [ ]:

def even(x):
#Code here


def squer(x):
    #Code here


li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# code here
# first filters number by even number and the apply map() on the resultant elements
print(list(li))

In [89]:
x=[1,2,3,4,5,6,7,8,910]
list(filter(lambda x:x%2==0,x%2**2==0,[y for y in a]))

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [4]:
a=[1,2,3,4,5,6,7,8,9,10]
def even(x):
    if x%2==0:
        return True

In [5]:
even_numbers=list(filter(even,a))

In [8]:
print(even)

<function even at 0x00000205F07C5CA0>

In [44]:
even_numbers(filter(range(0,21)))

TypeError: filter expected 2 arguments, got 1

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [ ]:
# CODE HERE
def even(x):
#code here


evenNumbers = filter(even, range(1, 21))
print(list(evenNumbers))

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [ ]:
def f(n):
# Code here


n = int(input("Enter n value"))
print(f(n))

In [71]:
def even(x):
    if x%2==0:
        return True

In [10]:
even_numbers=list(filter(even,range(0,21)))
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [64]:
i=input()

for i in even_numbers:
    print(i)

21
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [48]:
a=[]
def even_numbers(n):
    if n%2==0:
        return True

In [49]:
num=list(filter(even_numbers,a))
print(num)
print(type(num))

[]
<class 'list'>

In [73]:
for i in num:
    print(i)


# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)