# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [ ]:
name=input("my name is ")

In [1]:
S1 = "siri"
print(S1)

siri

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

## Variable:  Variable is nothing but which is a container to store the data.
## Few words about variable:
## 1.it starts with a special character'_'
## 2.we can use and combined  alphnumerics to create a variable.
## 3.variable is not starts with a number.
## 4.variable is not starts with special symbol.
## 5.we can use case sensitive to give a variable name satrting ,middle and ending  of the words.

In [ ]:
# variable code examples:
# here x is the variable name as an identifier and store the data.
x = "dhoni luck number is 7"
x

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [ ]:
# width=17
# height=12.0
# delimeter='.'
1.17/2=8.5
2.17/2.0=8.5
3.12.0/3=4.0
4.1+2*5=11
5. .....

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [2]:
# variables are siri1,siri2
siri1=56
siri2=67
siri1+siri2

123

In [3]:
first_number=1000
second_number=2000
print(first_number+second_number)

3000

> `Question:` Add your first name and second name

In [4]:
Var1=input("My first name is : ")
Var2=input("My second name is : ")
Var3=input("My full name is : ")

My first name is : "Lakshmi"
My second name is : "siri"
My full name is : "lakshmi siri"

In [5]:
x1=input("My first name is  : ")
x2=input("My second name is : ")
x3=input("My full name is : ")

My first name is  : kavya
My second name is : sri
My full name is : kavya sri

In [6]:
y1=input("My first name is : ")
y2=input("My second name is : ")
y3=input("My full name is : ")

My first name is : saranya
My second name is : sri
My full name is : saranya sri

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [7]:
x = 10
type(x)

int

In [8]:
x ='10'
type(x)

str

In [9]:
x = True
type(x)

bool

In [10]:
x = 10.5
type(x)

float

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [19]:
num_int=123
num_str=int("456")
num_str

456

In [ ]:
# CODE HERE
k=num_int+num_str

In [20]:
k

579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [2]:
# CODE HERE
vol_radius=4/3*22/7*5**3
print(vol_radius)

523.8095238095239

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [ ]:
# CODE HERE

In [13]:
book_price=24.95
dis_count=40
#shipping costs=(1*3)+(59*0.75)
shipping_costs=47.25
wholesale_cost=book_price*60+shipping_costs*40/100
print(wholesale_cost)

1515.9

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)