## Github Excercise:

## 1.Write a program to get the datatype of a data:

In [1]:
#example:
#we have 1.numeric datatype,int();float();complex();2.string()datatype;3.boolean()datatype:
x=20
type(x)

int

In [2]:
# float():
y=3.3
type(y)

float

In [3]:
#complex():
y=1+7j
type(y)

complex

In [4]:
#srting():
z="abcd"
type(z)

str

In [5]:
#boolean():
x=False
type(x)

bool

## 2.Write a program to convert integer datatype to float datatype;

In [6]:
# we have implict and explict datatype conversions to change one datatype to another datatype:
x1=1
x2=1.1
x1+x2

2.1

In [7]:
# another example:
y1=1+6j
y2=7
y1+y2
#here the datatype given first priority to complex:

(8+6j)

## 3.write a program to convert a integer datatype to float datatype viceversa:

In [8]:
# integer variable:
num=12
#convert integer to float:
num=float(num)
#display the number and its type:
print(num)
print(type(num))

12.0
<class 'float'>

## 4.Write a program to get actual location of the data:

In [9]:
variable='asdfghjkl'
variable

'asdfghjkl'

## 5.Give an example of implict conversion and explict conversion:

In [10]:
# example1:converting integer to float;(implict conversion):

num_int = 123
num_float = 1.23

num_new = num_int+num_float


print("datatype of num_int:",type(num_int))
print("datatype of num_float:",type(num_float))

print("value of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_float: <class 'float'>
value of num_new: <class 'float'>

In [13]:
#example2:addition of string(higher)dattype and integer(lower)datatype:

num_int = 123
num_str = "456"

print("datatype of num_int:",type(num_int))
print("datatype of num_str:",type(num_str))

print(num_int+num_str)

datatype of num_int: <class 'int'>
datatype of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
#example3:explict conversion:
# addition of string and integer using explict conversion:

num_int = 123
num_str = "456"

print("datatype of num_int:",type(num_int))
print("datatype of num_str before typecasting:",type(num_str))

num_str = int(num_str)
print("datatype of num_str before typecasting:",type(num_str))

num_sum=num_int+num_str

print("sum of num_int and num_str :",type(num_sum))
print("datatype of the sum:",type(num_sum))

datatype of num_int: <class 'int'>
datatype of num_str before typecasting: <class 'str'>
datatype of num_str before typecasting: <class 'int'>
sum of num_int and num_str : <class 'int'>
datatype of the sum: <class 'int'>

## 6.Write a program to prove that python is case sensitive language:

In [14]:
# example of incorrect use of case_sensitivity in python:

first_name = 'Tim'
last_name = 'Statler'

print("My name is " +First_Name
     +'' +LAST_Name)

NameError: name 'First_Name' is not defined

In [15]:
# correct use of case sensitivity in python:

first_name = "Tim"
last_name = "Statler"

print("My name is " + first_name + ' ' + last_name)

My name is Tim Statler

In [17]:
# we can ignore case sesitive in case of string variable ,here we can use two functions:
#1.lower()-convert all letters into lowercase:
#2.upper()-convert all letters into uppercase:
#example:
string1 = 'HELLO WORLD'
string2 = 'hello world'

comparision = string1.lower() ==string2
print(comparision)

True

## 7.write a program to get a syntax error:

In [19]:
var=2
var=3
var_var+

SyntaxError: invalid syntax (Temp/ipykernel_4472/2409029119.py, line 3)

## 8.write a program to get a type error:

In [25]:
string=2
string=2.2
string+string2

TypeError: unsupported operand type(s) for +: 'float' and 'str'

## 9.Give an example of multiple statement in a single line:

In [27]:
siri="hello; i am; learning ;datascience;"